<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" th:src="@{/script/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/script/jquery.form.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/style.css}">
    <script type="text/javascript" th:src="@{/script/index.js}"></script>
    <title>ZCW</title>
</head>

<body>
<!-- -----导航栏----- -->
<div>
    <nav class = "navbar navbar-default"  role = "navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">ESTestWeb</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/" th:target="_self">网站首页</a></li>
                    <li><a>隐私保护</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right gf-top-right">
                    <li><a id="user-name-li"></a></li>
                    <li><a href="" onclick="logout()">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- -----搜索----- -->
<div id="body-wrapper">
    <div class="container search-container">
        <div>
            <h1>广发证券量化精灵源码检索</h1>
        </div>
        <div class="search-bar">
            <input  class="search-bar-input" th:type="text" th:id="keyword" th:name="keyword"
                   placeholder="请输入搜索内容..."/>
            <input type="submit" value="搜索" onclick="search(1)" class="search-btn">
           <!-- <button type="button" onclick="reSearch()">重输</button> -->
        </div>
    </div>

    <div id="top-keyword" class="container" th:each="key : ${list}">
        <button class="btn btn-link" th:text="${key.keywordName}" onclick="searchkey(this.innerHTML)"></button>
    </div>

    <div id="search-info" class="container"></div>
    <div class="container result">
        <div id="file-card"></div>
        <div id="page-selector"></div>
    </div>
</div>
<!-- -----footer----- -->
<div class="panel-footer footer" id="footer">
    <p>© 2020 - ESTestWeb - <a>隐私保护</a>
        Powered by ElasticSearch + SpringBoot + Linux.</p>
</div>
</body>
</html>