<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" th:src="@{/script/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/script/jquery.form.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/style.css}">
    <title>ZCW</title>
</head>

<body>
<!-- -----导航栏----- -->
<div>
    <nav class = "navbar navbar-default"  role = "navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">ESTestWeb</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/" th:target="_self">网站首页</a></li>
                    <li><a>隐私保护</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right gf-top-right">
                    <li><a id="user-name-li"></a></li>
                    <li><a href="" onclick="logout()">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- -----搜索----- -->
<div id="body-wrapper">
    <div class="container search-container">
        <div>
            <h1>广发证券量化精灵源码检索</h1>
        </div>
        <div class="search-bar">
            <input  class="search-bar-input" th:type="text" th:id="keyword" th:name="keyword"
                   placeholder="请输入搜索内容..."/>
            <input type="submit" value="搜索" onclick="search(1)" class="search-btn">
           <!-- <button type="button" onclick="reSearch()">重输</button> -->
        </div>
    </div>
    <div id="search-info" class="container"></div>
    <div class="container result">
        <div id="file-card"></div>
        <div id="page-selector"></div>
    </div>
</div>
<!-- -----footer----- -->
<div class="panel-footer footer" id="footer">
    <p>© 2020 - ESTestWeb - <a>隐私保护</a>
        Powered by ElasticSearch + SpringBoot + Linux.</p>
</div>
</body>


<script type="application/javascript">
    //回车搜索
    $(document).keyup(function (event) {
        if(event.keyCode == 13){
            var init = 1;
            search(init);
        }
    });
    //清空搜索框内容
    function reSearch() {
        $("#keyword").val("");
    }
    //搜索第page页内容
    function search(page) {
        //var pageNum = 0;
        //清空当前搜索结果
        $('#search-info').children('span').remove();
        $('#file-card').children('div').remove();
        $('#page-selector').children('span').remove();
        $('#page-selector').children('button').remove();
        //获取用户输入的关键字
        var keyword = $("#keyword").val();
        //后台方法路径
        var searchPath = "/esgf/search/"+keyword+"/"+(page-1);
        //校检用户输入以及用户登陆状态，若未登录则返回登录界面
        if(localStorage.getItem("loginName") == null){
            alert("请先登录");
            window.location.href ="/user/";
            return false;
        }
        if(keyword == ""){
            alert("搜索内容不能为空");
            return false;
        }
        //使用ajax向后台发送请求
        $.ajax({
            url:searchPath,
            type:"get",
            dataType:"json",
            contentType: "application/json",
            async: false,
            //搜索成功后返回函数
            //res包含的属性：
            success:function callbackFun(res){
                //循环打印文件信息
                for(var i=0;i<res.data.length;i++){
                    var list = "<div class='file-desc'><div><a class='file-name' target='_blank'>"
                              +res.data[i].fileName+"</a></div>"
                              +"<div class='file-text' style='size: 200px'><p>"+res.data[i].highLightFields+"</p></div>"
                              +"<div><a>"+res.data[i].fileUrl+"</a></div></div>";
                    $('#file-card').append(list);
                    //为每一个文件名称添加url
                    document.getElementsByClassName("file-name")[i].setAttribute('href','/esgf/file/'+res.data[i].id);
                }
                //搜索信息：结果数目，todo 用时
                $('#search-info').append(
                    "<span>共"+res.hits+"条结果</span>"
                );
                //分页按钮
                $('#page-selector').append(
                        "<button class='btn btn-link' onclick='search(1)'>首页</button>");
                for(var i=0;i<res.hits/6;i++){
                    if(i>res.current+9){
                        break;
                    } else if(i<res.current-1){

                    } else {
                        var pageNum = "<button class='btn btn-link' onclick='search(this.innerHTML)'>"+(i+1)+"</button>";
                        $('#page-selector').append(pageNum);
                    }
                    //$('#page-selector').append(pageNum);
                }
                //用于根据页面内容调整页脚位置
                reloadfooter();
            },
            //搜索失败后返回函数
            error:function(err){
                localStorage.removeItem("loginName");
                if(err.status==401){
                    alert("请先登录");
                    window.location.href ="/user/";
                }
            }
        });
    }
    //比较两数大小
    function min(a,b){
        if(a-b<=0){
            return a;
        } else{
            return b;
        }
    }
    //重载页脚
    function reloadfooter(){
        var footer = document.getElementById("footer");
        footer.style.marginTop = '0px';
    }
    //用户登出
    function logout(){
        //后台登出方法路径
        var logoutPath = "/user/logout";
        //使用ajax向后台发送请求
        $.ajax({
            url:logoutPath,
            type:"get",
            dataType:"json",
            contentType: "application/json",
            async: false,
            //若成功退出则删除本地存储的用户信息
            success:function callbackFun(data){
                //解析json
                if(data.responseCode == 200){
                    //删除用户信息
                    localStorage.removeItem("loginName");
                    window.location.href ="/user/";
                }
            },
            //登出失败则提示错误信息
            error:function(err){
                alert(err);
            }
        });
    }
    //查询文件详细内容
    function fileInfo(){

    }
    //页面加载是调用，欢迎标语
    $(document).ready(function(){
        var username = localStorage.getItem("loginName");
        $("#user-name-li").append("您好，"+username);
    })
</script>
</html>